params {
    samplesheet = null
    default_params = "$baseDir/assets/default_params.yaml"
    modules = 'all'
    project_path = "$baseDir/.."
    out_root = "$baseDir/../nextflow_results_dsl2"
    metahict_conda = "$baseDir/../installation/env.yaml"
    conda_envs_path = "$baseDir/../conda_envs"
    require_conda_bundle = false
    // All reference databases remain outside Conda environments and container
    // images.  Users may override each project-relative default with a normal
    // Nextflow parameter, for example --checkm2_db /data/CheckM2.dmnd.
    checkm_db = "$baseDir/../databases/checkm_db"
    checkm2_db = "$baseDir/../databases/checkm2_db/CheckM2_database/uniref100.KO.1.dmnd"
    gtdbtk_db = "$baseDir/../databases/gtdbtk_db/release220"
    genomad_db = "$baseDir/../databases/genomad_db/genomad_db"
    checkv_db = "$baseDir/../databases/checkv_db/checkv-db-v1.5"
    result_name = 'results'
    threads = 80
    dry_run = false
    clean = false
    chain = true
    report_dir = "$baseDir/reports"
    use_module_containers = false
    container_engine = 'docker'
    container_image_dir = "$baseDir/containers/images"
    // Optional single, release image.  Empty means use the development
    // module images declared below.  A published image should be supplied
    // with an immutable @sha256 digest, not a mutable tag.
    container_image_override = null
    release_container_repository = 'ghcr.io/1001shiyuan/metahict'
    container_images = [
        all: 'metahict-all:local',
        preprocessing: 'metahict-module1:local',
        preprocessing_sg: 'metahict-module1:local',
        preprocessing_hic: 'metahict-module1:local',
        assembly: 'metahict-module2:local',
        alignment: 'metahict-module3:local',
        coverage: 'metahict-module4:local',
        contact: 'metahict-module5:local',
        binning: 'metahict-module6:local',
        reassembly: 'metahict-module7:local',
        scaffolding: 'metahict-module8:local',
        annotation: 'metahict-module9:local',
        mge: 'metahict-module10:local'
    ]
}

process {
    executor = 'local'
    shell = ['/bin/bash', '-euo', 'pipefail']
}

profiles {
    local {
        process.executor = 'local'
    }

    conda {
        process.executor = 'local'
        conda.enabled = true
        params.require_conda_bundle = true
        params.conda_envs_path = "${params.project_path}/conda_envs"
        params.metahict_conda = "${params.project_path}/conda_envs/metahict_env"
    }

    docker {
        process.executor = 'local'
        docker.enabled = true
        params.use_module_containers = true
        params.container_engine = 'docker'
        params.conda_envs_path = '/opt/conda/envs'
    }

    apptainer {
        process.executor = 'local'
        apptainer.enabled = true
        apptainer.autoMounts = true
        apptainer.envWhitelist = 'NSS_WRAPPER_PASSWD,NSS_WRAPPER_GROUP,LD_PRELOAD'
        apptainer.runOptions = "--bind /raid/projects/Shiyuan:/raid/projects/Shiyuan --bind ${baseDir}/containers/nss_wrapper/passwd:/etc/passwd --bind ${baseDir}/containers/nss_wrapper/group:/etc/group"
        params.use_module_containers = true
        params.container_engine = 'apptainer'
        params.conda_envs_path = '/opt/conda/envs'
        params.container_images = [
            all: "${baseDir}/containers/images/metahict-all_local.sif",
            preprocessing: "${baseDir}/containers/images/metahict-all_local.sif",
            assembly: "${baseDir}/containers/images/metahict-all_local.sif",
            alignment: "${baseDir}/containers/images/metahict-all_local.sif",
            coverage: "${baseDir}/containers/images/metahict-all_local.sif",
            contact: "${baseDir}/containers/images/metahict-all_local.sif",
            binning: "${baseDir}/containers/images/metahict-all_local.sif",
            reassembly: "${baseDir}/containers/images/metahict-all_local.sif",
            scaffolding: "${baseDir}/containers/images/metahict-all_local.sif",
            annotation: "${baseDir}/containers/images/metahict-all_local.sif",
            mge: "${baseDir}/containers/images/metahict-all_local.sif"
        ]
    }

    singularity {
        process.executor = 'local'
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.runOptions = "--bind /raid/projects/Shiyuan:/raid/projects/Shiyuan"
        params.use_module_containers = true
        params.container_engine = 'singularity'
        params.conda_envs_path = '/opt/conda/envs'
    }

    slurm {
        process.executor = 'slurm'
        process.queue = 'compute1'
    }
}

timeline {
    enabled = true
    file = "${params.report_dir}/timeline.html"
    overwrite = true
}

report {
    enabled = true
    file = "${params.report_dir}/report.html"
    overwrite = true
}

trace {
    enabled = true
    file = "${params.report_dir}/trace.txt"
    overwrite = true
}

dag {
    enabled = true
    file = "${params.report_dir}/dag.html"
    overwrite = true
}
